.product-detail-container{
    display: flex;
    gap: 3rem;
    margin: 10rem 2rem 0rem ;
    justify-content: space-between;
    
}

.p-details{
    display: flex;
    flex-direction: column;
   
}

.back-btn{
    margin-top: 5rem;
    margin-left: 5rem;
}
@media  (min-width: 786px){
    .product-detail-container{
        margin: 10rem 5rem 0rem ;
        justify-content: space-around;

    }
    .back-btn{
        margin-top: 7rem;
        margin-left: 5rem;
    }
}