
.profile-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-top: 7rem;
    align-items: center;
}
.profile-details{
    border: 0.5px solid var( --bg-color-);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    padding-top: 0rem;
    flex-direction: column;
    width: 450px;
    text-align: center;


}
.profile-details h1{
    color: var(--primaryHighlightedColor);
}

.profile-details button{
    margin: 0.5rem;
    font-size: 1rem;
    border: none;
    
}

button:hover, button:focus{
    color: white;
    font-weight: 700;
    background-color: var(--primaryHighlightedColor);
    cursor: pointer;
  }