body{
  margin: 0;

background: black;
/* background: linear-gradient(-90deg, rgb(183, 220, 255) 0%, rgba(255, 255, 255, 0.943) 100%); */
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.material-icons{
  color: #f3f2f1;
  font-size: 2rem;
} 


